* {
    box-sizing: border-box;
}

 /* magnifer styles  */
.img-magnifier-container {
    position: relative;
    /* left: 10%; */
    width: 600px;
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /* Set the size & shape of the magnifier glass here */
    width: 200px;
    height: 200px;
}

/* styles for the hotspots */
span {
	position: relative;
	display: none;
	border-radius: 8px;
	padding: 5px;
	text-align: center;
	line-height: 1.5em;
	color: #fff;
	background-color: rgba(255,255,255);
	border: .25px solid #004990;
}
/* span h1 {
    font-size: 16px;
    /* margin-top: 5px; 
    color: #004990;;
} */
span p {
    margin-top: 4px;
    /* margin-bottom: 10px; */
    /* font-style: italic; */
	color: #004990;;
}
p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.spot {
    position: absolute;
	text-align: center;
	line-height: 20px;
    font-size: 30px;
	font-weight: bold;
	color: #fff;
    width: 20px;
    height: 20px;
	border: 1px solid #366603;
	border-radius: 16px;
	background-color: #5fb404;
    /* display: none; */
}
.reload {
    padding: 5px;
    background-color:burlywood

}
#spot-01, #spot-02, #spot-03, #spot-04, #spot-05, #spot-06, #spot-07  {
	display: inline-block;
	max-width: 200px;
}	
#spot-01:hover > span, #spot-02:hover > span, #spot-03:hover > span, #spot-04:hover > span, #spot-05:hover > span, #spot-06:hover > span, #spot-07:hover > span {
	display: block;
	z-index: 1;
}
/* top of tree  */
#spot-01 {
	position: absolute;
    top: 26%;
    left: 17%;
}
#spot-01:hover > span {
	bottom: -250px;
    left: 0; 
}
/* *************************  */
/* eye  */
#spot-02 {
	position: absolute;
    top: 37%;
    left: 39%;
}
#spot-02:hover > span {
    bottom: -150px;
    left: -100px;
}
/* *************************  */
/* forehead - spear top  */
#spot-03 {
	position: absolute;
    top: 36%;
    left: 43%;
}
#spot-03:hover > span {
    bottom: -150px;
    left: -130px;
}
/* *************************  */
/* mid-sword  */
#spot-04 {
	position: absolute;
    top: 43%;
    left: 42%;
}
#spot-04:hover > span {
    bottom: -100px;
    left: -130px;
}
/* *************************  */
/* mid-spear  */
#spot-05 {
	position: absolute;
    top: 40%;
    left: 52%;
}
#spot-05:hover > span {
    bottom: -120px;
    left: -190px;
}
/* *************************  */
/* shield  */
#spot-06 {
	position: absolute;
    top: 41%;
    left: 64%;
}
#spot-06:hover > span {
    bottom: -120px;
    left: -220px;
}
/* *************************  */
/* helmet  */
#spot-07 {
	position: absolute;
    top: 29%;
    left: 60%;
}
#spot-07:hover > span {
    bottom: -200px;
    left: -220px;
}
